body, html {
  background: #232249;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
h1 {
	font-family: 'bungee', sans-serif;
	font-size: 5vw;
	margin: 0 auto;
	margin-top: 20px;
	padding: 0 auto;
	text-align: center;
	color: #FEFBE3;
}
h2 {
	font-family: 'bungee', sans-serif;
	font-size: 1.5vw;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
	color: #FEFBE3;
}
h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 3vw;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
	color: #FEFBE3;
}
h4 {
  font-family: 'Raleway', sans-serif;
	font-size: 1.8vw;
	margin: 0 auto;
	padding: 0 auto;
	text-align: center;
	color: #FEFBE3;
}
#wrapper {
	height: 100%;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	text-align: center;
}
.containerOuter {
	background: #232249;
	padding: 5px;
	margin: 0px;
	border: 4px solid #3752A0;
	border-radius: 20px;
	height: 100%;
	width: 100%;
	text-align: center;
	display: block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.containerInner {
	border: 4px solid #3752A0;
	border-radius: 20px;
	margin: 5px;
	padding: 5px;
	height: 98.5%;
	position: relative;
	display: block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.containerDash {
	border: 4px dotted #FCCD9B;
  border-radius: 20px;
  margin: 5px;
	padding: 5px;
  height: 98.5%;
	position: relative;
	display: block;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.card {
	top: 10%;
  width: 50%;
  height: 50%;
	margin: 0 auto;
	z-index: 0;
	position: absolute;
}
.cardCat {
	position: relative;
	margin: auto;
  margin-top: 25%;
  transform: translateY(-50%);
}
.cardCat img {
  max-width: 507px;
  margin-top: 25%;
  transform: translateY(-50%);
}
.cardMis {
  position: relative;
  margin: auto;
  margin-top: 10%;
  transform: translateY(-50%);
}
.cardCont img {
  margin-bottom: 100px;
	max-width: 60%;
}
.card .front{
	background-color: #3752A0;
	border-radius: 10%;
	color: white;
	border: 4px solid #3752A0;
}
.card .back{
	background-color: #3752A0;
	border: 4px solid #FCCD9B;
	border-radius: 10%;
  text-align: center;
}
.kitty {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
  /*width: 100%;*/
}
.kitty img {
  max-width: 560px;
	/*max-height: 440px;*/
  height: 100%;
  width: 100%;
	margin-top: -10px;
  -webkit-transition: all 0.1s ease;
 -moz-transition: all 0.1s ease;
 -o-transition: all 0.1s ease;
}

.kitty img:hover {
	max-width: 575px;
  height: auto;
  width: auto;
  cursor: pointer;
}
.hidden {
	display: none;
}
.button {
	top: 88%;
	text-align: center;
	text-decoration: none;
  z-index: 5;
  position: absolute;
  transform: translateX(-50%);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
#warning-message { display: none; }
@media only screen and (orientation:portrait){
		#wrapper { display:none;	}
		#warning-message { display:block; }
		#warning-message h2 { font-size: 6em; }
}
@media only screen and (orientation:landscape){
		#warning-message { display:none; }

}
/*@media only screen and (max-device-width:500px){
  .card {height:100vh;width:100vh;}
}*/
